<%- include('partials/header') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h3>Ce compte est sécurisé par une authentification à deux facteurs.</h3>
    <h4>Merci de renseigner le code d'authentification.</h4>
</div>


<div class="row">
    <div class="col-6 offset-3">

        <%# en cas d'erreur, on passera une variable error à notre vue %>
        <% if (locals.error) {%>
        <div class="bad"><%= error %></div>
        <% } %>


        <form action="/2fa/validateAfterLogin" method="POST" class="form-signup">

            <div class="form-label-group">
                <% if (isByMail) {%>
                <input type="hidden" name="source" value="email">
                <% } %>
                <% if (isByApp) {%>
                <input type="hidden" name="source" value="qrcode">
                <% } %>
                <input type="number" class="form-control" id="code" name="code"
                    aria-describedby="TOTP code from your Authenticator app" placeholder="Votre code">
                <label for="email">Votre code</label>
                <small id="emailHelp" class="form-text text-muted">Votre code 2FA
                </small>

            </div>


            <button class="btn btn-lg btn-success btn-block btn-success" type="submit">Valider</button>
        </form>

    </div>
</div>

<%- include('partials/footer') %>